@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme inline {
	--radius: 0.5rem;
	--background: oklch(100% 0 0);
	--foreground: oklch(9.8% 0 0);
	--card: oklch(100% 0 0);
	--card-foreground: oklch(9.8% 0 0);
	--popover: oklch(100% 0 0);
	--popover-foreground: oklch(9.8% 0 0);
	--primary: oklch(9.8% 0 0);
	--primary-foreground: oklch(98% 0 0);
	--secondary: oklch(96.1% 0 0);
	--secondary-foreground: oklch(9.8% 0 0);
	--muted: oklch(96.1% 0 0);
	--muted-foreground: oklch(45.1% 0 0);
	--accent: oklch(96.1% 0 0);
	--accent-foreground: oklch(9.8% 0 0);
	--destructive: oklch(62.8% 0.257 29.234);
	--destructive-foreground: oklch(98% 0 0);
	--border: oklch(89.8% 0 0);
	--input: oklch(89.8% 0 0);
	--ring: oklch(9.8% 0 0);
	--chart-1: oklch(62.8% 0.257 29.234);
	--chart-2: oklch(69.7% 0.329 142.495);
	--chart-3: oklch(76.1% 0.184 183.61);
	--chart-4: oklch(70.1% 0.218 227.392);
	--chart-5: oklch(65.1% 0.313 264.375);
}

.dark {
	--background: oklch(9.8% 0 0);
	--foreground: oklch(98% 0 0);
	--card: oklch(9.8% 0 0);
	--card-foreground: oklch(98% 0 0);
	--popover: oklch(9.8% 0 0);
	--popover-foreground: oklch(98% 0 0);
	--primary: oklch(98% 0 0);
	--primary-foreground: oklch(9.8% 0 0);
	--secondary: oklch(14.9% 0 0);
	--secondary-foreground: oklch(98% 0 0);
	--muted: oklch(14.9% 0 0);
	--muted-foreground: oklch(63.9% 0 0);
	--accent: oklch(14.9% 0 0);
	--accent-foreground: oklch(98% 0 0);
	--destructive: oklch(62.8% 0.257 29.234);
	--destructive-foreground: oklch(98% 0 0);
	--border: oklch(27.3% 0 0);
	--input: oklch(27.3% 0 0);
	--ring: oklch(83.1% 0 0);
	--chart-1: oklch(62.8% 0.257 29.234);
	--chart-2: oklch(69.7% 0.329 142.495);
	--chart-3: oklch(76.1% 0.184 183.61);
	--chart-4: oklch(70.1% 0.218 227.392);
	--chart-5: oklch(65.1% 0.313 264.375);
}
